<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Guide Calculator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-4HfFay3AYJnEmbgRzxYWJk/Ka5jIimhB/Fssk7NGT9Tj3rkEChpSxLK0btOGzf2I" crossorigin="anonymous">
    <script src="https://unpkg.com/jquery"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">EnergyGuide</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-sm btn-primary" href="/">About</a>
            </li>
        </ul>
    </nav>
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>
    <p>Wattage and utility rate data sources: 2010 Buildings Energy Databook, Table 2.1.16; Home Energy Saver;</p>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/energy.js"></script>
</body>
</html>