{% extends 'base.html'%}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-6 col-centered border border-info rounded px-5 py-3">
    <div class="title text-center">Appliance Energy Calculator</div>
    <form>
        {{ form.hidden_tag() }}

       {{ form.appliance.label(for_="appliance-select")}}
       {{ form.appliance(class_="form-control", id="appliance-select") }}

       {{ form.watts.label }}
       {{ form.watts(class_="form-control integer-input", placeholder=1000, id_="watts", value=1000) }}

       {{ form.rate.label }}
       {{ form.rate(class_="form-control", placeholder=0.12, id="rate", value=0.12) }}

       {{ form.hours.label }}
       {{ form.hours(class_="form-control integer-input", id="hours") }}

       {{ form.days.label }}
       {{ form.days(class_="form-control integer-input", id="days") }}

       {{ form.zipcode.label }}
       {{ form.zipcode(class_="form-control", id="zipcode") }}

       <button class="btn btn-lg btn-primary" id="submit-calc">Submit</button>
    </form>
    </div>
</div>
<div class="row justify-content-center">
   
    <div id="calc-results" class="m-5 col-sm-6 col-centered">

    </div>
    <div id="grid-results" class="m-5 col-sm-6 col-centered">

    </div>
</div>




{% endblock %}