{% extends 'base.html'%}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-6 col-centered border border-info rounded px-5 py-3">
    <div class="title text-center">Appliance Energy Calculator</div>
    <form id="submit-form">
        {{ form.hidden_tag() }}

       {{ form.appliance.label(for_="appliance-select")}}
       {{ form.appliance(class_="form-control", id="appliance-select") }}

       {{ form.watts.label }}
       {{ form.watts(class_="form-control integer-input", placeholder=1000, id_="watts", value=1000) }}

       {{ form.rate.label }}
       {{ form.rate(class_="form-control", placeholder=0.12, id="rate", value=0.12) }}

       {{ form.hours.label }}
       {{ form.hours(class_="form-control integer-input", id="hours") }}

       {{ form.days.label }}
       {{ form.days(class_="form-control integer-input", id="days") }}

       {{ form.zipcode.label }}
       {{ form.zipcode(class_="form-control", id="zipcode") }}

       <button class="btn btn-lg btn-primary mt-4" id="submit-calc">Submit</button>
    </form>
    </div>
</div>
<div id="general-results" class="row justify-content-center">
    <div class="col-sm-6">
        
            <div id="grid-results" class="card card-body"></div>
        
    </div>


    <div class="col-sm-6">
       
            <div class="card card-body" id="calc-results">
      
            </div>
    </div>
        <div id="main-div">
            <!-- Scorer 1 Starts -->
            <div class="layout-align">
            <div id="score-meter-1" class="layout-align">
                <div id="scorer-1-inner-div">
                    <div id="scorer-1-inner-div-5">
                    <div class="scorer-1-tick">
                    </div>
                    </div>
                </div>
                <div id="scorer-1-inner-div-2"></div>
                <div id="scorer-1-inner-div-3"></div>
                <div id="scorer-1-inner-div-4"></div>
            </div>
            
                <!-- {% if current_user.is_authenticated %} -->
                <button class="btn btn-info">Save</button>
                <!-- {% endif %} -->
            </div>
        </div>
</div>


{% endblock %}