{% extends 'base.html'%}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-6 col-centered border border-info rounded px-5 py-3">
    <div class="title text-center">Appliance Energy Calculator</div>
    <form>
        <!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
        <div class="form-group appliance-group active">
        <label for="appliance-select">Choose an appliance:</label>
            <select id="appliance-select" class="form-control">
                {% for (category, values) in appl.items() %}
                <optgroup label="{{category}}">
                    {% for appliance in values%}
                    <option id="id-{{ appliance[0] }}" value="{{ appliance[0] }}">{{ appliance[1] }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>

        <div class="form-group appliance-group">
            <label for="watts">Wattage</label>
            <input type="number" id="watts" name="watts" class="form-control integer-input" value=1000>
        </div>
        
        <div class="form-group appliance-group">
            <label for="rate">Utility Rate</label>
            <input type="number" id="rate" value="0.12" name="rate" class="form-control integer-input">
        </div>
        <div class="form-group appliance-group">
            <label for="hours">Hours Used per Day</label>
            <input type="number" id="hours" min=0 max=24 value=0 name="hours" class="form-control integer-input">
        </div>
        <div class="form-group appliance-group">
            <label for="days">Days Used per Year</label>
            <input type="number" id="days" value=0 min=0 max=365 name="days" class="form-control integer-input">
        </div>
        <div class="form-group appliance-group">
            <label for="zipcode">Zipcode</label>
            <input type="text" id="zipcode" name="zipcode" class="form-control integer-input">
        </div>
        <button class="btn btn-lg btn-primary" id="submit-calc">Submit</button>
    </form>
    </div>
</div>
<div class="rowj ustify-content-center">
   
    <div id="calc-results" class="m-5 col-sm-6 col-centered">

    </div>
    <div id="grid-results" class="m-5 col-sm-6 col-centered">

    </div>
</div>




{% endblock %}