
{% extends 'base.html'%} 
{% block content %}

<div class="container">
  {% if searches == None %}
  <h2>Please save some searches!</h2>
  {%endif%}
  <h1 class="text-center mt-5">Searches for {{current_user.username}}</h1>
  <div class="row">
    <a class="btn btn-primary mx-auto" href="/">Search again</a>
  </div>
  <div class="row justify-content-center">
    {%for search in searches%}

    <div class="card m-3 border border-info rounded shadow-lg" style="width: 19rem;">
      <div class="card-body">
        <h5 class="card-title">{{search.friendly_date}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{search.appliances.name}}
        </h6>
        <p class="card-text">
          Daily kWh: {{"{:.2f}".format(search.daily_kWh)}} kWh
        </p>
        <p class="card-text">
          Annual Consumption: {{"{:.2f}".format(search.annual_Consump)}} kWh
        </p>
        <p class="card-text">Annual Cost: {{search.annual_Cost}}</p>
        <p class="card-text">
          Grid and Percentage: {{search.grid}}, {{search.gridpercent}}%
        </p>
        <p class="card-text">Location: {{search.city}}, {{search.state}}</p>
        <form action="/delete-search/{{search.id}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button class="btn btn-sm btn-warning">Delete</button>
        </form>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}

